table{
    font-weight: bold;
    font-size: 20px;
  
  }
  table , td , tr {
    color: wheat;
  
  }
  
  
  label{
    margin: 10px 0px;
    color: wheat;
    font-size: 20px;
    
  }
  .inputs{
    background:linear-gradient(rgb(85, 82, 82) , rgba(71, 4, 4,.3));
    box-shadow: 10px 10px 10px;
  padding: 10px 20px;
  
  }
  body{
  background: linear-gradient(gray , rgb(131, 115, 115));
  
  
  }
  h6{
    display: inline;
  }
.sessions{
    border: 1px dotted black;

}
.rows{
cursor: pointer;
}
.rows:hover{
    background: linear-gradient(rgb(250, 93, 93) , rgb(117, 98, 98));
}
.names{
    transition: all 0.5ms;

}
.rows:hover .names{
transform: scale(1.5,1.5);
transition: all 0.5s;

}














  